body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.timer-container {
  text-align: center;
}

#timer {
  font-size: 48px;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

#customTime {
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
}


.timer-warning {
  color: red;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% { opacity: 0.5; }
}
